PersonalFinanceTracker/bin/Debug/net10.0-windows/PersonalFinanceTracker.dll
PersonalFinanceTracker/bin/Debug/net10.0-windows/PersonalFinanceTracker.exe
PersonalFinanceTracker/bin/Debug/net10.0-windows/PersonalFinanceTracker.pdb
PersonalFinanceTracker/obj/Debug/net10.0-windows/apphost.exe
PersonalFinanceTracker/obj/Debug/net10.0-windows/Personal.50996CEA.Up2Date
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.AssemblyInfo.cs
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.AssemblyInfoInputs.cache
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.csproj.FileListAbsolute.txt
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.dll
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.pdb
PersonalFinanceTracker/obj/Debug/net10.0-windows/PersonalFinanceTracker.sourcelink.json
PersonalFinanceTracker/obj/Debug/net10.0-windows/ref/PersonalFinanceTracker.dll
PersonalFinanceTracker/obj/Debug/net10.0-windows/refint/PersonalFinanceTracker.dll
